@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus.eot');
    src: url('AeroBonus.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus.woff2') format('woff2'),
        url('AeroBonus.woff') format('woff'),
        url('AeroBonus.ttf') format('truetype'),
        url('AeroBonus.svg#AeroBonus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus-Heavy.eot');
    src: url('AeroBonus-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus-Heavy.woff2') format('woff2'),
        url('AeroBonus-Heavy.woff') format('woff'),
        url('AeroBonus-Heavy.ttf') format('truetype'),
        url('AeroBonus-Heavy.svg#AeroBonus-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus_1.eot');
    src: url('AeroBonus_1.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus_1.woff2') format('woff2'),
        url('AeroBonus_1.woff') format('woff'),
        url('AeroBonus_1.ttf') format('truetype'),
        url('AeroBonus_1.svg#AeroBonus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus-Italic.eot');
    src: url('AeroBonus-Italic.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus-Italic.woff2') format('woff2'),
        url('AeroBonus-Italic.woff') format('woff'),
        url('AeroBonus-Italic.ttf') format('truetype'),
        url('AeroBonus-Italic.svg#AeroBonus-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus-Light.eot');
    src: url('AeroBonus-Light.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus-Light.woff2') format('woff2'),
        url('AeroBonus-Light.woff') format('woff'),
        url('AeroBonus-Light.ttf') format('truetype'),
        url('AeroBonus-Light.svg#AeroBonus-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeroBonus';
    src: url('AeroBonus-Bold.eot');
    src: url('AeroBonus-Bold.eot?#iefix') format('embedded-opentype'),
        url('AeroBonus-Bold.woff2') format('woff2'),
        url('AeroBonus-Bold.woff') format('woff'),
        url('AeroBonus-Bold.ttf') format('truetype'),
        url('AeroBonus-Bold.svg#AeroBonus-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

