@media all and (max-width: 990px){
 header{
  background-size: 1024px auto;
 }
}

@media all and (max-width: 850px){
 header .decorations[alt="p"]{
  opacity: 0
 }
}

@media all and (max-width: 710px){
 footer .decorations[alt="p"]{
  opacity: 0
 }
}

@media all and (max-width: 600px){
 header nav{
  justify-content: flex-end
 }
 header menu{
  display: none
 }
 #burger-cross{
  display: flex !important
 }
}

@media all and (max-width: 550px){
 aside > div{
  background-color: rgb(240, 240, 240); background-image: none !important
 }
 aside #popUp_detail{
  width: 100%
 }
}

@media all and (max-width: 580px){
 main section > div > div > div{
  justify-content: center;
 }
 main a{
  width: 100% !important; max-width: 320px
 }
}

@media all and (max-width: 420px){
 header section .row{
  flex-direction: column
 }

 header section .row > div{
  display: flex; flex-direction: row;
  width: auto
 }
 header section .row:not(:last-child) > div{
  display: flex;
  margin-bottom: 10px
 }

 header section .row > div > div:first-of-type{
  margin: 0 10px 0 0;
 }
 header section .row > div > div:last-of-type{
  display: flex; flex-direction: column; justify-content: center;
  flex-grow: 1;
  text-align: left;
  width: calc(100% - 40px - 10px)
 }
}

@media all and (max-width: 570px){
 .button_blue{
  text-transform: uppercase !important
 }
 .button_blue span{
  display: none
 }
}