@keyframes twinkleOfStars{
 0%, 100%{}
 50%{
  opacity: 0.2;
  transform: scale(0.88)
 }
}
header .decorations[alt^="s"]{ animation: twinkleOfStars 2.4s ease-out infinite }
header .decorations[alt="s2"]{ animation-delay: 1.6s }
header .decorations[alt="s3"]{ animation-delay: 2.4s }
header .decorations[alt="s4"]{ animation-delay: 0.8s }
header .decorations[alt="s5"]{ animation-delay: 2s }
header .decorations[alt="s6"]{ animation-delay: 1.2s }
header .decorations[alt="s7"]{ animation-delay: 0.4s }


@keyframes soaringClouds{
 0%, 100%{}
 50%{
  margin: -4px -6px 0 0;
  transform: scale(0.88)
 }
}
.decorations[alt^="c"]{ animation: soaringClouds 3.6s linear infinite }
.decorations[alt="c2"]{ animation-delay: 1.6s }
.decorations[alt="c3"]{ animation-delay: 0.4s }
.decorations[alt="c4"]{ animation-delay: 0.8s }
.decorations[alt="c5"]{ animation-delay: 2s }
.decorations[alt="c6"]{ animation-delay: 2.8s }
.decorations[alt="c7"]{ animation-delay: 3.2s }
.decorations[alt="c8"]{ animation-delay: 2.4s }


@keyframes flightPlane{
 0%, 50%, 100%{}
 25%{
 margin: -2px 0 0 0;
 transform: rotate(1deg)
 }
 75%{
  margin: 0 0 -2px 0;
  transform: rotate(-1deg)
 }
}
.decorations[alt^="p"]{
 animation: flightPlane 2.4s ease-in-out infinite
}


@keyframes flightBallon{
 0%, 50%, 100%{}
 25%{
  margin: -4px 0 0 0
 }
 75%{
  margin: 0 0 -4px 0
 }
}
.decorations[alt^="ab"]{
 animation: flightBallon 2.4s ease-in-out infinite; animation-delay: 0.4s
}