#burger-cross{
 cursor: pointer;
 display: none; justify-content: center; align-items: center;
 position: absolute; top: 20px; left: 20px; z-index: 9;
 transition-duration: 1s;
 width: 40px; height: 40px
}
#burger-cross > div{
 position: relative;
 width: 100%; height: 100%
}
#burger-cross span{
 background-color: white;
 border-radius: 20px;
 position: absolute; top: 8px;
 transition-duration: .4s;
 width: 100%; height: 4px;
}
#burger-cross span::before{
 position: absolute; top: -8px; left: 0;
 background-color: white;
 content: '';
 border-radius: 20px;
 transition-duration: .4s;
 width: 100%; height: 4px
}
#burger-cross span::after{
 position: absolute; top: 8px; left: 0;
 background-color: white;
 content: '';
 border-radius: 20px;
 transition-duration: .4s;
 width: 100%; height: 4px
}


#burger-cross.open span{
 background: transparent;
}
#burger-cross.open span:before{
 transition: transform .25s;
 transform: rotateZ(45deg);
 top: 0;
}
#burger-cross.open span:after{
 transition: transform .25s;
 transform: rotateZ(-405deg);
 top: 0;
}