@charset "utf-8";

:root{
 --transition: all 0.4s ease 0s;
 --max-width: calc(100% - (10px * 2))
}

*,
*::before,
*::after{
 border: none;
 box-sizing: border-box;
 line-height: inherit;
 margin: 0; padding: 0;
 outline: none;
 /*user-select: none; -khtml-user-select: none; -moz-user-select: none*/
}
*::selection{
 background-color: rgba(255, 200, 10, 0.2)
}


Body{
 quotes: '«' '»';
 min-height: 100vh;
 line-height: 1
}

Menu{
 display: flex; flex-wrap: wrap
}
Menu > *{
 list-style-type: none
}

*[onClick],
A[href],
Button:not(:disabled){
 cursor: pointer;
 transition: var(--transition)
}
A{
 color: inherit
}
A:hover{
 text-decoration: none
}

/* < form */
Input,
Textarea{
 border: 1px solid grey;
 padding: 1rem;
 width: 100%
}
Textarea{
 resize: vertical
}
Input:focus,
Textarea:focus{
 border-color: black
}
Input[type='checkbox'],
Input[type='radio']{
 vertical-align: middle;
 width: auto
}
/* > form */

Embed,
Img,
Object,
Video{
 max-width: 100%
}
Img{
 line-height: 0;
 vertical-align: bottom
}

Table{
 border-collapse: collapse
}

Ul,
Ol{
 list-style-position: inside
}
Ul Ul,
Ul Ol,
Ol Ul,
Ol Ol{
 margin-left: 2rem
}
Ul Ul Ul{
 list-style-type: disc
}
Ul Ul{
 list-style-type: circle
}
Ul{
 list-style-type: square
}

H1, H2, H3, H4, H5, H6{
 letter-spacing: 0;
 margin: 0
}