@charset "utf-8";

:root{
 --color-blue: rgb(30, 65, 115);
 --color-blue-alpha: rgba(30, 65, 115, .96);
 --text-shadow: 0 0 0.6rem rgba(0, 0, 0, .8);
 --width1: 630px;
 --width2: 530px
}

html{
 font-family: 'AeroBonus', sans-serif; font-size: 10px;
 /*hyphens: auto*/
}

body{
 background: transparent url(/assets/images/bg.jpg) repeat-y top center; background-attachment: fixed; background-size: cover;
 font-size: 1.4em;
 min-width: 320px
}
body > *{
 position: relative;
 width: 100%; height: 100vh; min-height: 720px
}
body > * > section{ /*border: 1px dotted red;*/
 display: flex; flex-direction: column; justify-content: space-between;
 margin: 0 auto;
 overflow: hidden;
 position: relative;
 width: var(--width1); max-width: var(--max-width); height: 100%
}
body > * > section > div{
 margin-bottom: -400%;
 transition: all 1.6s ease-out 0s
}
body > * > section > div > div{
 position: relative
}

button,
.button{
 background-color: rgb(225, 5, 20);
 border-radius: 25px;
 color: white;
 display: flex; justify-content: center; align-items: center;
 padding: 10px 20px;
 position: relative;
 text-transform: uppercase; text-decoration: none;
 transition: var(--transition);
 white-space: nowrap
}
button:hover,
.button:hover{
 cursor: pointer;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}

/* < buttons */
.buttons{
 display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
 width: 100%
}
.buttons .button{
 margin-bottom: 10px
}
.buttons .button:first-child{
 margin-right: 10px
}

.buttons .button img{
 width: 1.8rem; height: 1.8rem; max-width: none
}

.buttons .button_blue{
 background-color: white;
 border: 1px solid var(--color-blue);
 color: var(--color-blue);
 text-transform: none
}
.buttons .button_blue:hover{
 background-color: var(--color-blue);
 border-color: white;
 color: white
}

.buttons .button > *:last-of-type{
 margin-left: 10px
}

.buttons .button_blue > div{
 position: relative
}
.buttons .button_blue > div > img{
 transition: var(--transition)
}
.buttons .button_blue > div > img:first-of-type{
 position: absolute
}
.buttons .button_blue > div > img:last-of-type{
 opacity: 0
}
 /* < hover */
.buttons .button_blue:hover > div > img:first-of-type{
 opacity: 0
}
.buttons .button_blue:hover > div > img:last-of-type{
 opacity: 1
}
 /* > hover */
/* > buttons */


.sd{
 overflow: hidden;
 position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1;
}
.sd > div{
 position: relative; top: 0; left: 0;
 width: 100%; height: 100%
}
.decorations{
 position: absolute;
 transition: var(--transition)
}


/* < header */
header{
 background: url(/assets/images/header/sky.png) no-repeat top center; background-size: 100% auto;
 color: white;
 /*margin-bottom: calc((100vw / 2.89) / 4)*/
}
header::after{
 content: '';

 background: url(/assets/images/header/earth.png) no-repeat bottom center; background-size: 100% auto;
 position: absolute; top: 0; right: 0; bottom: calc(-1 * ((100vw / 2.89) / 4)); left: 0
}
header > section{
 padding-top: 20px
}


header nav{
 display: flex; justify-content: space-between; align-items: center;
 margin-bottom: 60px;
 position: relative; z-index: 4
}
header nav img{
 max-height: 50px
}

 /* < menu */
header menu{
 margin-bottom: -4px
}
header menu > li:not(:last-of-type){
 margin-right: 20px
}
#mobileMenu a,
header menu a{
 border-bottom: 2px solid transparent;
 display: inline-block;
 font-size: 1.3rem;
 opacity: 0.8;
 padding-bottom: 2px;
 text-decoration: none
}
#mobileMenu a:hover,
header menu a:hover{
 border-bottom-color: rgb(160, 25, 50);
 opacity: 1
}

#mobileMenu{
 background-color: var(--color-blue-alpha);
 color: white;
 display: none; flex-direction: column;
 padding-top: calc(20px + 40px);
 position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 8
}
#mobileMenu > li:not(:last-of-type){
 margin-right: 0
}
#mobileMenu a{
 font-size: 2rem;
 margin: 0 auto;
 padding: 20px;
 width: calc(320px - (20px * 2))
}

#mobileMenu.active{
 display: flex
}
 /* > menu */

header section > div{
 background: transparent url(/assets/images/header/plate/bg.png) no-repeat center center; background-size: 100% 100%;
 color: var(--color-blue);
 line-height: 1.2;
 margin-top: -4%;
 padding: 0 8% 4% 8%;
 text-align: center
}

header section > div > div > *:not(:last-child){
 margin-bottom: 15px
}

header section > div > div > img{
 position: static;
 margin-top: calc(-1 * (78px / 2))
}

header h1{
 font-size: 1.6rem;
 text-transform: uppercase
}
header p{}
header h3{
 font-size: 1em; font-weight: 900;
 margin-bottom: 30px;
 text-transform: uppercase
}

header .row{
 display: flex; justify-content: space-between
}
header .row > div{
 font-size: 1.2rem; line-height: 1.2;
 width: calc(100% / 3)
}
header .row > div > div:first-of-type{
 margin-bottom: 10px
}
header .row img{
 max-height: 20px
}

header button{
 margin: 0 auto
}

header .decorations[alt="ab"]{ top: 28%; left: calc(((100% - var(--width1)) / 2) - 6%) }
header .decorations[alt="b"]{ top: 48%; left: calc(((100% - var(--width1)) / 2) - 4%) }
header .decorations[alt="p"]{ top: 18%; right: calc(((100% - var(--width1)) / 2) - 100px) }
header .decorations[alt="s1"]{ top: 4%; left: calc(((100% - var(--width1)) / 2) - 8%) }
header .decorations[alt="s2"]{ top: 8%; left: calc(((100% - var(--width1)) / 2) - 4%) }
header .decorations[alt="s3"]{ top: 14%; right: calc(((100% - var(--width1)) / 2) + 4%) }
header .decorations[alt="s4"]{ top: 10%; right: calc(((100% - var(--width1)) / 2) + 10%) }
header .decorations[alt="s5"]{ top: 12%; right: 12% }
header .decorations[alt="s6"]{ top: 10%; right: 4% }
header .decorations[alt="s7"]{ top: 4%; right: 10% }
header .decorations[alt="c1"]{ top: 72vh; left: calc(((100% - var(--width1)) / 2) - 6%) }
header .decorations[alt="c3"]{ top: 62%; right: calc(((100% - var(--width1)) / 2) - 3.6%) }
header .decorations[alt="c4"]{ top: 28%; left: calc(((100% - var(--width1)) / 2) - 6%) }
header .decorations[alt="c2"]{ top: 58vh; left: calc((100% - var(--width1))/2 - 14%) }
header .decorations[alt="c5"]{ top: 54%; right: calc((100% - var(--width1))/2 - 16%) }
header .decorations[alt="c6"]{ top: 60%; right: calc((100% - var(--width1))/2 - 18%) }
/* > header */

/* < main */
main{
 margin-bottom: calc((100vw / 2.32) / 7.2)
}
main::after{
 content: '';

 background: url(/assets/images/main/earth.png) no-repeat bottom center; background-size: 100% auto;
 position: absolute; top: 0; right: 0; bottom: calc(-1 * (100vw/2.32 / 7.2)); left: 0
}
main section{
 justify-content: center;
 min-height: 90vh
}
main section > div > div{
 display: flex; flex-direction: column; align-items: center;
 padding: 0 8%
}
main section > div > div > div{
 display: flex; flex-wrap: wrap; justify-content: space-between;
 margin: 0 auto 12px auto
}

main a{
 background-position: center center; background-repeat: no-repeat; background-size: 100% 100%;
 display: flex; justify-content: center; align-items: center;
 margin-bottom: 12px;
 padding: 15px 20px;
 position: relative
}
main a:hover{
 transform: scale(1.02)
}

main a:nth-of-type(1){
 background-image: url(/assets/images/main/fonds/a_.png);
 width: calc(100% / 2 - 12px)
}
main a:nth-of-type(2){
 background-image: url(/assets/images/main/fonds/b_.png);
 width: calc((100% - 12px) / 2)
}
main a:nth-of-type(3){
 background-image: url(/assets/images/main/fonds/c_.png);
 width: calc((100% - (12px * 2)) / 3)
}
main a:nth-of-type(4){
 background-image: url(/assets/images/main/fonds/d_.png);
 width: calc((100% - (12px * 2)) / 3)
}
main a:nth-of-type(5){
 background-image: url(/assets/images/main/fonds/e_.png);
 width: calc((100% - (12px * 2)) / 3)
}

main .decorations[alt="c1"]{ top: 32%; left: calc(((100% - var(--width1)) / 2) - 12%) }
main .decorations[alt="c2"]{ top: 52%; left: calc(((100% - var(--width1)) / 2) - 2%) }
main .decorations[alt="c3"]{ top: 74%; left: calc(((100% - var(--width1)) / 2) + 2%) }
main .decorations[alt="c4"]{ top: 68%; left: calc(((100% - var(--width1)) / 2) + 4%) }
main .decorations[alt="c7"]{ top: 38%; left: calc((100% - var(--width1)) / 2) }
main .decorations[alt="ab"]{ top: 28%; right: 6% }
main .decorations[alt="c5"]{ top: 32%; right: 8% }
main .decorations[alt="c6"]{ top: 30%; right: 4% }
/* > main */

/* < footer */
footer section{
 color: var(--color-blue);
 min-height: 100vh
}
footer section > div{
 background: transparent url(/assets/images/header/plate/bg.png) no-repeat center center; background-size: 100% 100%;
 margin-top: 10vh;
 padding: 8%;
 width: 100%
}
footer section > div > div{
 display: flex; flex-direction: column
}


footer #faq_items{
 display: flex; flex-direction: column;
 padding: 26px 0
}

footer .faq_item{
 display: flex; flex-direction: column
}
footer .faq_item > div:first-of-type{
 display: flex; justify-content: space-between; align-items: center
}
footer .faq_item > div:first-of-type{
 padding: 10px 0
}

footer .faq_item h3 + div,
footer .faq_item .details{
 transition: var(--transition)
}
footer .faq_item .details{
 height: 0;
 overflow-y: hidden
}
footer .faq_item:not(:last-child) .details{
 border-bottom: 2px solid rgb(160, 175, 200)
}
/* +< hover */
footer .faq_item:hover{
 cursor: pointer
}
footer .faq_item:hover h3 + div{
 transform: rotate(135deg)
}
footer .faq_item:hover .details{
 height: 80px;
 padding-bottom: 10px
}
/* > hover */

footer .faq_item h3 + div{
 font-size: 2.8rem; line-height: 1
}

footer > div:last-of-type{
 background: transparent url(/assets/images/footer/earth.png) no-repeat bottom center; background-size: 100% auto;
 display: flex; justify-content: center; align-items: flex-end;
 margin-top: -10vh;
 height: calc(100vw/2.66)
}
footer > div:last-of-type > button{
 background-color: rgb(125, 165, 160);
 border: 1px solid rgb(155, 185, 169);
 margin: 0 auto 30px auto
}


footer .decorations[alt="c1"]{ top: 54%; right: calc(((100% - var(--width1)) / 2) - 6%) }
footer .decorations[alt="c2"]{ top: 100%; left: 52% }
footer .decorations[alt="c3"]{ top: 74%; left: calc(((100% - var(--width1)) / 2) - 12%) }
footer .decorations[alt="c4"]{ top: 68%; left: calc(((100% - var(--width1)) / 2) - 14%) }
footer .decorations[alt="c5"]{ top: 30%; left: calc(((100% - var(--width1)) / 2) - 120px) }
footer .decorations[alt="c6"]{ top: 8.6%; right: calc(((100% - var(--width1)) / 2) - 4%) }
footer .decorations[alt="c7"]{ top: 8%; left: calc(((100% - var(--width1)) / 2) - 8%) }
footer .decorations[alt="c8"]{ top: 4%; left: 40% }
footer .decorations[alt="c9"]{ top: 6%; right: 40% }
footer .decorations[alt="p"]{ top: 40px; left: calc(((100% - var(--width1)) / 2) - 4%) }
footer .decorations[alt="b"]{ top: 34%; left: calc(((100% - var(--width1)) / 2) - 80px) }
/* > footer */

/* < popUp */
aside{
 background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.4));
 color: var(--color-blue);
 display: flex; justify-content: center; align-items: center; z-index: 8;
 opacity: 0;
 position: fixed; top: 0; right: 0; bottom: 0; left: 0;
 transition: var(--transition)
}
aside > div{
 background-color: transparent; background-repeat: no-repeat; background-position: top right; background-size: auto 100%;
 border-radius: 20px;
 clip-path: polygon(0% 0%, 5% 0%, 15% .4%, 40% 0%, 60% .6%, 95% 0%, 100% 0%, 100% 5%, 99.6% 15%, 100% 40%, 99.4% 60%, 100% 80%, 100% 95%, 100% 100%, 95% 100%, 80% 99.4%, 60% 100%, 40% 99.4%, 5% 100%, 0% 100%, 0% 80%, .4% 60%, 0% 40%, .6% 30%, 0% 5%);
 opacity: 0;
 overflow: hidden;
 position: relative;
 transition: var(--transition);
 width: var(--width2); max-width: var(--max-width)
}

 /* < exit */
aside span{
 color: white;
 font-size: 4rem; font-weight: 400; line-height: 0.8;
 position: absolute; top: 20px; right: 20px; z-index: 9;
 transform: rotate(45deg);
 transition: var(--transition);
 mix-blend-mode: difference
}
aside span:hover{
 cursor: pointer;
 transform: rotate(225deg)
}
 /* > */

aside > div > div{
 background-image: linear-gradient(to right, white 60%, transparent)
}


aside #popUp_detail{
 display: flex; flex-direction: column; align-items: flex-start;
 line-height: 1.4;
 padding: 30px;
 width: calc(100% - 100%/2.8 - 30px); height: 100%;
}

aside #popUp_detail > *:not(:last-child){
 margin-bottom: 30px
}

aside output{
 line-height: 1.2
}

aside .button{
 margin: 0
}

aside #popUp_detail > a:first-of-type{
 font-style: italic; font-weight: bold;
 text-decoration: none
}
/* > popUp */